.ui-bar-b {
  background: linear-gradient(#51B9DB, #0B94C1) repeat scroll 0 0 #209EC7;
}

.ui-btn-up-b {
  background: linear-gradient(#51B9DB, #0B94C1) repeat scroll 0 0 #209EC7;
  border-color: #1B728F;
}

.ui-btn-hover-b {
  background: linear-gradient(#51B9DB, #0687B2) repeat scroll 0 0 #209EC7;
}
